{% extends "base.html" %}

{% block content %}
      <!-- Jumbotron -->
      <div class="row">
        
        <div class="span6" style="position:relative;top:15px;">
          
          <input id="search" name="name" class="span5" type="text"  onkeydown="if (event.keyCode==13) { search();}"
           placeholder="Search for a review eg. Tom Cruise" >
          <button type="button" class="btn btn-primary" onclick="search()" style="position:relative;top:-5px;"> Search</button>


      
    </div>
  </div>
<br>
      <!-- Example row of columns -->
        <div class="container">
        <div class="row">
          <div class="span10"> 
      	   Lean Reviews is an attempt to make it easy to read and write reviews on the web. There are tons of review websites but more often than not people are put off by verbose reviews when they need a quick opinion. Lean Reviews uses word clouds to concisely represent a summarized form of crowd-opinion about an item of interest. Word clouds are not a novel form of technology. However, they suit our purpose here. 
           <br>
           <br>
           <br>
           The other benefit is that because reviews are restricted to a word or phrase, writing reviews becomes easy, almost trivial. Of course, you should consult detailed reviews when necessary. However, quite often Lean Reviews would be a good choice. For any feedback, good or bad, write to udayj.dev@gmail.com
      </div>
    
      </div>
      

    </div>

      <hr>
{% endblock %}

{% block javascript %}
    <script>
    $(document).ready(function() {
    $("input#search").autocomplete({
    source: items
});});
    function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='/item?name='+name.value.trim();
    }
    var fontSize = d3.scale.log().range([10, 100]);
    var fill = d3.scale.category20();
    function draw_word_cloud(id,review_words){
     d3.layout.cloud().size([600,450])
      .words(jQuery.parseJSON($(review_words).html()))
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .rotate(function(d) { return ~~(Math.random() * 5) * 30 - 60; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select(id).append("svg")
        .attr("width", 600)
        .attr("height", 450)
      .append("g")
        .attr("transform", "translate(300,225)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
}
draw_word_cloud("#word_cloud","#review_words");

     </script>
{% endblock %}
