
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lean Reviews - quick reviews for almost anything</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/static/stylesheets/front.css" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
       

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">Lean Reviews</h3>
        <div class="subnav">
          <ul class="nav nav-pills" >
                <li><a href="/">Home</a></li>
                <li id="books" ><a href="/browse/books">Books</a></li>
                <li id="movies" ><a href="/browse/movies">Movies</a></li>
                <li id="places" ><a href="/browse/places">Places</a></li>
                <li id="people" ><a href="/browse/people">People</a></li>
                <li id="trending"><a href="/trending">Trending</a></li>
                <li id="about"><a href="/about">About</a></li>
                  {% if not current_user.email %}
                <li class="pull-right"><a href="/signup">Login</a></li>
                <li class="pull-right"><a href="/signup">SignUp</a></li>
                
                {% else %}
                <li class="pull-right"><a href="/logout">Logout</a></li>
                <span class="pull-right" style="position:relative;top:7px;"> Hi,
                  {% if current_user.name %}
                  {{current_user.name}}
                  {% else %}
                  {{current_user.email}}
                  {% endif %}
                </span>
                
                {% endif %}
              </ul>
            </div>
      </div>

      <!-- Jumbotron -->
      <div class="row">
        
        <div class="span6" style="position:relative;top:15px;">
          
          <input id="search" name="name" class="span5" type="text" onkeydown="if (event.keyCode==13) { search();}"
           placeholder="Search for a review eg. The Social Network" >
          <span class="btn btn-primary" onclick="search()" style="position:relative;top:-5px;"> Search</span>


      
    </div>
  </div>
      <div class="row">
        <div class="span12">
          <form id="form" class="form-horizontal well" action="/process_new_item" method="post">
            <fieldset>
              <legend>Add new item to be reviewed</legend>
              <div class="control-group">
                
                  <label class="control-label" for="name">Add review for </label>
                  <div class="controls">
                  <input type="text" id="name" class="input-xlarge" name="name">
                  <p class="help-block">People can use this name to search for this review eg. <b>The Social Network</b></p>
                </div>
              </div>
              <div class="control-group">
                
                  <label class="control-label" for="description" >Description</label>
                  <div class="controls">
                  <input type="text" id="description" name="description">
                  <p class="help-block">This is optional but helpful to distinguish between similar items eg.<b> This refers to a movie</b></p>
                </div>
              </div>
              <div class="control-group">
                
                  <label class="control-label" for="category">Category </label>
                  <div class="controls">
                  <input type="text" id="category" name="category">
                  <p class="help-block">This is optional but helpful to group similar items eg. <b>movies</b></p>
                </div>
              </div>
              <div class="control-group">
                
                  <label class="control-label" for="review">Your review</label>
                  <div class="controls">
                  <input type="text" id="review" name="review">
                  <p class="help-block">Your review in 25 characters or less eg. <b>awesome</b></p>
                </div>
              </div>
              <div class="form-actions">
                <input type="submit" class="btn btn-primary"></input>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <hr>

     <div class="footer">
        <p>&copy; LeanReviews.com 2013. All rights reserved.</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script src="/static/javascript/items.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="/static/javascript/d3.js"> </script>
    <script src="/static/javascript/d3.layout.cloud.js"> </script>
    <script>
    function checkMaxLength(word,len)
    {
      if(word!=null)
      {
         return word.length<=len;
      }
      else
      {
        return true;
      }
    }
    $(document).ready(function() {
    $("input#search").autocomplete({
    source: items});

    $('#form').submit(function(){
      var name=$('#name').val()
      var description=$('#description').val()
      var category=$('#category').val()
      var review=$('#review').val()
      alert("checking")
      if(!checkMaxLength(name,40))
      {
        alert('Name cannot be more than 40 characters');
        return false;
      }
      if(name==null || review==null || name.trim()=="" || review.trim()=="")
      {
        alert('Name and review cannot be empty');
        return false;
      }
      if(!checkMaxLength(description,100))
      {
        alert('Description cannot be more than 100 characters. Consider being more concise.');
        return false;
      }
      if(!checkMaxLength(category,30))
      {
        alert('Category cannot be more than 30 characters');
        return false; 
      }
      if(!checkMaxLength(review,25))
      {
        alert('Review cannot be more than 25 characters');
        return false;
      }

    });
  });
    function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='/item?name='+name.value.trim();
    }
    var fontSize = d3.scale.log().range([10, 100]);
    var fill = d3.scale.category20();
    function draw_word_cloud(id){
     d3.layout.cloud().size([300, 300])
      .words([
        "Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this","good","bad","interesting","great","awesome","boring"].map(function(d) {
        return {text: d, size: 10 + Math.random() * 90};
      }))
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .rotate(function(d) { return ~~(Math.random() * 5) * 30 - 60; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select(id).append("svg")
        .attr("width", 300)
        .attr("height", 300)
      .append("g")
        .attr("transform", "translate(150,150)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
}
draw_word_cloud("#trend1");
draw_word_cloud("#trend2");
draw_word_cloud("#trend3");
     </script>

  </body>
</html>

<!--
3 model plate - 4 Pc.
3 Model box   - 4 Pc.
6A Switch - 4 Pc.-->
