
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lean Reviews - quick reviews for almost anything</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/static/stylesheets/front.css" rel="stylesheet">
       

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">Lean Reviews</h3>
        <div class="navbar">
          <div class="navbar-inner" >
            <div class="container" >
              <ul class="nav" >
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Places</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div class="row">
        <div class="span4">
          <h3>Search for a review  </h3>
        </div>
        <div class="span6" style="position:relative;top:15px;">
          <form method="get" action="/" class="form-inline" >
          <input name="name" class="span5" type="text"  placeholder="Search for a review eg. The Social Network" >
          <span class="btn btn-primary"> Search</span>


      </form>
    </div>
  </div>

      <!-- Example row of columns -->
        <div class="container">
        <div class="row">
          <div class="span4">

      	   <h2> Movie Reviews </h2>
      </div>
    </div>
      <div class="row">
        <div class="span4" id="trend1">
          <h2 style="color:#0072E6">Godel, Escher, Bach -<br> A Golden Triad</h2>
          
        </div>
        <div class="span4" id="trend2">
          <h2 style="color:#0072E6">The Social Network</h2>
          
       </div>
        <div class="span4" id="trend3">
          <h2 style="color:#0072E6">Paris</h2>
          
        </div>
      </div>
       <div class="row">
        <div class="span4" id="trend4">
          <h2 style="color:#0072E6">Godel, Escher, Bach -<br> A Golden Triad</h2>
          
        </div>
        <div class="span4" id="trend5">
          <h2 style="color:#0072E6">The Social Network</h2>
          
       </div>
        <div class="span4" id="trend6">
          <h2 style="color:#0072E6">Paris</h2>
          
        </div>
      </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="/static/javascript/d3.js"> </script>
    <script src="/static/javascript/d3.layout.cloud.js"> </script>
    <script>
    var fontSize = d3.scale.log().range([10, 100]);
    var fill = d3.scale.category20();
    function draw_word_cloud(id){
     d3.layout.cloud().size([300, 300])
      .words([
        "Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this","good","bad","interesting","great","awesome","boring"].map(function(d) {
        return {text: d, size: 10 + Math.random() * 90};
      }))
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .rotate(function(d) { return ~~(Math.random() * 5) * 30 - 60; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select(id).append("svg")
        .attr("width", 300)
        .attr("height", 300)
      .append("g")
        .attr("transform", "translate(150,150)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
}
draw_word_cloud("#trend1");
draw_word_cloud("#trend2");
draw_word_cloud("#trend3");
draw_word_cloud("#trend4");
draw_word_cloud("#trend5");
draw_word_cloud("#trend6");
     </script>

  </body>
</html>

<!--
3 model plate - 4 Pc.
3 Model box   - 4 Pc.
6A Switch - 4 Pc.-->
