{% extends "base.html" %}

{% block content %}
      <!-- Jumbotron -->
      <div class="row">
        
        <div class="span6" style="position:relative;top:15px;">
          
          <input id="search" name="name" class="span5" type="text" onkeydown="if (event.keyCode==13) { search();}"
           placeholder="Search for a review eg. Tom Cruise" >
          <span class="btn btn-primary" onclick="search()" style="position:relative;top:-5px;"> Search</span>


      
    </div>
  </div>
  <br>
  <div id="message">{{message}}</div>
  <br>
      <div class="row">
        <div class="span12">
          <form id="form" class="form-horizontal well" method="post">
            <input type="text" name="id" id="id" style="display:none" value="{{review['_id']}}">
            <fieldset>
              <legend>Edit Review</legend>
              <div class="control-group">
                  
                  <label class="control-label" for="name">Name</label>
                  <div class="controls">
                  <input type="text" id="name" class="input-xlarge" name="name" value="{{review['name']}}">
                
                </div>
              </div>
              <div class="control-group">
                  
                  <label class="control-label" for="name">Display Name</label>
                  <div class="controls">
                  <input type="text" id="display_name" class="input-xlarge" name="display_name" value="{{review['display_name']}}">
                
                </div>
              </div>
              <div class="control-group">
                
                  <label class="control-label" for="description" >Description</label>
                  <div class="controls">
                  <textarea type="text" id="description" name="description" style="width:700px;height:100px;">{{review['description']}}
                  </textarea>
                  
                </div>
              </div>
              <div class="control-group">
                
                  <label class="control-label" for="category">Category </label>
                  <div class="controls">
                  <input type="text" id="category" name="category" value="{{review['categories']}}">
                  
                </div>
              </div>
              
              <div class="control-group">
                
                  <label class="control-label" for="category">Picture </label>
                  <div class="controls">
                  {% if 'picture' in review %}
                  <input type="text" id="picture" name="picture" value="{{review['picture']}}">
                  {% else %}
                  <input type="text" id="picture" name="picture" value="">
                  {% endif %}

                </div>
              </div>
              
              <div class="control-group">
                
                  <label class="control-label" for="review">Review</label>
                  <div class="controls">
                  <textarea type="text" id="review" name="review" style="width:700px;height:400px;"> {{words}}</textarea>
                  
                </div>
              </div>
              <div class="form-actions">
                <input type="submit" class="btn btn-primary"></input>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <hr>
{% endblock %}
{% block javascript %}
    <script>
    function checkMaxLength(word,len)
    {
      if(word!=null)
      {
         return word.length<=len;
      }
      else
      {
        return true;
      }
    }
    $(document).ready(function() {
    $("input#search").autocomplete({
    source: items});

    $('#form').submit(function(){

      var name=$('#name').val()
      var description=$('#description').val()
      var category=$('#category').val()
      var review=$('#review').val()
      
     /* if(!checkMaxLength(name,40))
      {
        alert('Name cannot be more than 40 characters');
        return false;
      }
      if(name==null || review==null || name.trim()=="" || review.trim()=="")
      {
        alert('Name and review cannot be empty');
        return false;
      }
      if(!checkMaxLength(description,100))
      {
        alert('Description cannot be more than 100 characters. Consider being more concise.');
        return false;
      }
      if(!checkMaxLength(category,30))
      {
        alert('Category cannot be more than 30 characters');
        return false; 
      }
      if(!checkMaxLength(review,25))
      {
        alert('Review cannot be more than 25 characters');
        return false;
      }*/

    });
  });
    function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='/item?name='+name.value.trim();
    }
    var fontSize = d3.scale.log().range([10, 100]);
    var fill = d3.scale.category20();
    function draw_word_cloud(id){
     d3.layout.cloud().size([300, 300])
      .words([
        "Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this","good","bad","interesting","great","awesome","boring"].map(function(d) {
        return {text: d, size: 10 + Math.random() * 90};
      }))
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .rotate(function(d) { return ~~(Math.random() * 5) * 30 - 60; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select(id).append("svg")
        .attr("width", 300)
        .attr("height", 300)
      .append("g")
        .attr("transform", "translate(150,150)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
}

     </script>
{% endblock %}


<!--
3 model plate - 4 Pc.
3 Model box   - 4 Pc.
6A Switch - 4 Pc.-->
