
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lean Review - quick reviews for almost anything</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/static/stylesheets/front.css" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
       

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">Lean Review</h3>
        <!--<div class="navbar">
          <div class="navbar-inner" >
            <div class="container" >
              <ul class="nav" >
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Places</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
        <div class="subnav">
          <ul class="nav nav-pills">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/browse/books">Books</a></li>
                <li><a href="/browse/movies">Movies</a></li>
                <li><a href="/browse/places">Places</a></li>
                <li><a href="browse/people">People</a></li>
                <li><a href="/trending">Trending</a></li>
                <li><a href="/about">About</a></li>
                {% if not current_user.email %}
                <li class="pull-right"><a href="/signup">Login</a></li>
                <li class="pull-right"><a href="/signup">SignUp</a></li>
                
                {% else %}
                <li class="pull-right"><a href="/logout">Logout</a></li>
                <span class="pull-right" style="position:relative;top:7px;"> Hi,
                  {% if current_user.name %}
                  {{current_user.name}}
                  {% else %}
                  {{current_user.email}}
                  {% endif %}
                </span>
                
                {% endif %}
              </ul>
          
              
          

            </div>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron" style="margin-bottom:0px;">
        <h1>Lean Review</h1>
        <p class="lead">Tired of reading long reviews? So are we. Lean Review provides quick, concise reviews and makes it easy to write more reviews.</p>
        <div class="row">
  		<div class="span12">
    	
      		<input id="search" name="name" class="span5" type="text"  onkeydown="if (event.keyCode==13) { search();}"
          placeholder="Search for a review eg. The Social Network" >
      		<button type="button" class="btn btn-primary" onclick="search()" style="position:relative;top:-5px;" > Search</button>
    	
  		</div>
		</div>
      </div>

      <hr style="margin-bottom:10px;">

      <!-- Example row of columns -->
     <div class="container">
        <div class="row">
          <div class="span4">

           <h2> Trending Reviews</h2>
      </div>
    </div>
    <div class="row">
    {% set counter=0 %}
    {% set review_counter=1 %}
    {% for review in reviews[:3] %}
      
        
      <a href="{{review['url']}}">
        <div class="span4" id="review{{review_counter}}">
          <div style="display:none" id="review{{review_counter}}words">
            {{review['data']}}
          </div>
          <h2 style="color:#0072E6" title="{{review['title_name']}}">{{review['name']}}</h2>
          <h4 title="{{review['title_description']}}">{{review['description']}}</h4>
          
        </div>
    </a>
      

      
      {% set counter=counter+1 %}
      {% set review_counter=review_counter+1 %}
    {% endfor %}
        </div>       
      </div>


      <hr>

      <div class="footer">
        <p>&copy; LeanReviews.com 2013. All rights reserved.</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/javascript/items.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="/static/javascript/d3.js"> </script>
    <script src="/static/javascript/d3.layout.cloud.js"> </script>
    <script>
    $(document).ready(function() {
    $("input#search").autocomplete({
    source: items
});});
    function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='/item?name='+name.value.trim();
    }
   var fontSize = d3.scale.log().range([10, 100]);
    var fill = d3.scale.category20();
    function draw_word_cloud(id){
     d3.layout.cloud().size([300, 300])
      .words(jQuery.parseJSON($(id+'words').html()))
      /*.words([
        "Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this","Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this","Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this","Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this"].map(function(d) {
        return {text: d, size: 10 + Math.random() * 90};
      }))*/
      .font("Impact")
      .timeInterval(Infinity)
      .fontSize(function(d) { return d.size; })
      .rotate(function(d) { return ~~(Math.random() * 5) * 04 - 04; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select(id).append("svg")
        .attr("width", 300)
        .attr("height", 300)
      .append("g")
        .attr("transform", "translate(150,150)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
}

for(var i=0;i<3;i++)
{
  draw_word_cloud("#review"+(i+1));
}


     </script>

  </body>
</html>

<!--
3 model plate - 4 Pc.
3 Model box   - 4 Pc.
6A Switch - 4 Pc.-->
