{% extends "base.html" %}
{% block content %}

      <!-- Jumbotron -->
      <div class="jumbotron" style="margin-bottom:0px;">
        <h1>Lean Reviews</h1>
        <p class="lead">Tired of reading long reviews? So are we. Lean Reviews provides quick, concise reviews and makes it easy to write more reviews.</p>
        <div class="row">
  		<div class="span12">
    	
      		<input id="search" name="name" class="span5" type="text"  onkeydown="if (event.keyCode==13) { search();}"
          placeholder="Search for a review eg. Tom Cruise" >
      		<button type="button" class="btn btn-primary" onclick="search()" style="position:relative;top:-5px;" > Search</button>
    	
  		</div>
		</div>
      </div>

      <hr style="margin-bottom:10px;">

      <!-- Example row of columns -->
     <div class="container">
        <div class="row">
          <div class="span4">

           <h2> Trending Reviews</h2>
      </div>
    </div>
    <div class="row">
    {% set counter=0 %}
    {% set review_counter=1 %}
    {% for review in reviews[:3] %}
      
        
      <a href="{{review['url']}}">
        <div class="span4" id="review{{review_counter}}" style="background-color:#F2F2F2">
          <div style="display:none" id="review{{review_counter}}words">
            {{review['data']}}
          </div>
          <h2 style="color:#0072E6;text-align:center" title="{{review['title_name']}}">{{review['name']}}</h2>
          <h4 title="{{review['title_description']}}">{{review['description']}}</h4>
          
        </div>
    </a>
      

      
      {% set counter=counter+1 %}
      {% set review_counter=review_counter+1 %}
    {% endfor %}
        </div>       
      </div>


      <hr>
{% endblock %}
{% block javascript %}
    <script>
    $(document).ready(function() {
    $("input#search").autocomplete({
    source: items
});});
    function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='/item?name='+name.value.trim();
    }
 var fontSize = d3.scale.linear()
                  .domain([0,160])
                  .range([10, 80]);
    var fill = d3.scale.category20();
    function draw_word_cloud(id){
     d3.layout.cloud().size([300, 200])
      .words(jQuery.parseJSON($(id+'words').html()))
      /*.words([
        "Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this","Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this","Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this","Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this"].map(function(d) {
        return {text: d, size: 10 + Math.random() * 90};
      }))*/
      .font("sans-serif")
      .timeInterval(Infinity)
      .fontSize(function(d) { return parseInt(fontSize(d.size)); })
      .rotate(function(d) { return ~~(Math.random() * 5) * 04 - 04; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select(id).append("svg")
        .attr("width", 300)
        .attr("height", 200)
      .append("g")
        .attr("transform", "translate(150,100)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "sans-serif")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
}

for(var i=0;i<3;i++)
{
  draw_word_cloud("#review"+(i+1));
}


     </script>
{% endblock %}


<!--
3 model plate - 4 Pc.
3 Model box   - 4 Pc.
6A Switch - 4 Pc.-->
