{% extends "base.html" %}
{% block content %}

      <!-- Jumbotron -->
      <div class="jumbotron" style="margin-bottom:0px;">
        <h1>Lean Reviews</h1>
        <p class="lead">Tired of reading long reviews? So are we. Lean Reviews provides quick, concise reviews of almost anything and makes it easy to write reviews.</p>
        <div class="row">
  		<div class="span12">
    	
      		<input id="search" name="name" class="span5" type="text"  onkeydown="if (event.keyCode==13) { search();}"
          placeholder="Search for a review eg. Tom Cruise" >
      		<button type="button" class="btn btn-primary" onclick="search()" style="position:relative;top:-5px;" > Search</button>
    	
  		</div>
		</div>
      </div>

      <hr style="margin-bottom:10px;">

      <!-- Example row of columns -->
     <div class="container">
        <div class="row">
          <div class="span4">

           <h2> Trending Reviews</h2>
      </div>
    </div>
    <div class="row">
    {% set counter=0 %}
    {% set review_counter=1 %}
    {% for review in reviews[:3] %}
      
        
      <a href="{{review['url']}}">
        <div class="span4" id="review{{review_counter}}" style="background-color:#F2F2F2">
          <div style="display:none" id="review{{review_counter}}words">
            {{review['data']}}
          </div>
          <div style="color:#547;text-align:center;font-size:18px;font-weight:bold;margin-top:5px;" title="{{review['title_name']}}">{{review['name']}}</div>
          <!--
          <h4 title="{{review['title_description']}}">{{review['description']}}</h4>
        -->
          
        </div>
    </a>
      

      
      {% set counter=counter+1 %}
      {% set review_counter=review_counter+1 %}
    {% endfor %}
        </div>   
      {% if length>3 %}
        <hr style="margin-top:7px;margin-bottom:7px;">
        <div class="row">
  
    {% set review_counter=4 %}
    {% for review in reviews[3:6] %}
      
        
      <a href="{{review['url']}}">
        <div class="span4" id="review{{review_counter}}" style="background-color:#F2F2F2">
          <div style="display:none" id="review{{review_counter}}words">
            {{review['data']}}
          </div>
          <div style="color:#547;text-align:center;font-size:18px;font-weight:bold;margin-top:5px;" title="{{review['title_name']}}">{{review['name']}}</div>
          <!--
           {% if not review['description'] or review['description']=='' %}
          <br>
          {% endif %}
          <h4 >{{review['description']}}</h4>
        -->
          
        </div>
      </a>
      

      
  
      {% set review_counter=review_counter+1 %}
    {% endfor %}
        </div>     
        {% endif %}  

        <br>
        <div class="row">
          <div class="span4">
            <br>
            <span style="font-weight:bold;font-size:17px;">Users with most kudos</span>
            <br>
            <br>
          <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Reviews Submitted
                    </th>
                    <th>
                      Kudos Earned
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <th>
                      <a href="/profile?id={{user['_id']}}">{{user['name']}}</a>
                    </th>
                    <th style="text-align:center">
                      {{user['reviews_submitted']}}
                    </th>
                    <th style="text-align:center">
                      {{user['kudos']}}
                    </th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="span7 pull-right">
              <blockquote class="pull-right">
               <p> Reviewing stuff hasn't been easier</p>
                <small>
                  <cite title="John">John</cite>
                </small>
              </blockquote>
              <blockquote class="pull-right">
                <p>Thanks for making it easier to write honest reviews</p>
                <small>
                  <cite title="Shelly">Shelly</cite>
                </small>
              </blockquote>
          </div>
      </div>


      <hr>
{% endblock %}
{% block javascript %}
    <script>
    function truncate(word)
    {
      if(word.length>21)
      {
        return word.substr(0,20)+'...';
      }
      else
      {
        return word;
      }
    }
    $(document).ready(function() {
    $("input#search").autocomplete({
    source: items
});});
    function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='/item?name='+name.value.trim();
    }

    var fill = d3.scale.category20();
    function draw_word_cloud(id){

      dataset=jQuery.parseJSON($(id+'words').html());
    var values=[];
    var word_values=[];
    for(var key in dataset)
    {
      
      word_values.push({'text':truncate(dataset[key]['text']),'size':dataset[key]['size']});
      values.push(dataset[key]['size']);
    }
    var words_main=[];
    var fontSize = d3.scale.linear()
                   .domain([0, d3.max(values)])
                  .range([10, 23]);

     d3.layout.cloud().size([300, 200])
      .words(word_values)
      /*.words([
        "Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this","Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this","Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this","Hello", "world", "normally", "you", "want", "more", "words",
        "than", "this"].map(function(d) {
        return {text: d, size: 10 + Math.random() * 90};
      }))*/
      .font("sans-serif")
      .timeInterval(Infinity)
      .fontSize(function(d) { return parseInt(fontSize(d.size)); })
      .rotate(function(d) { return ~~(Math.random() * 5) * 04 - 04; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select(id).append("svg")
        .attr("width", 300)
        .attr("height", 200)
      .append("g")
        .attr("transform", "translate(150,100)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "sans-serif")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
}

for(var i=0;i<6;i++)
{
  draw_word_cloud("#review"+(i+1));
}


     </script>
{% endblock %}


