{% extends "base.html" %}
{% block content %}


      <!-- Jumbotron -->
      <div class="row">
        <div id="userid" style="display:none">{{current_user.id}}</div>
        <div class="span6" style="position:relative;top:15px;">
          
          <input id="search" name="name" class="span5" type="text" onkeydown="if (event.keyCode==13) { search();}"
           placeholder="Search for a review eg. Tom Cruise" >
          <button type="button" class="btn btn-primary" onclick="search()" style="position:relative;top:-5px;"> Search</button>


      
    </div>
    <div class="span3">
    </div>
    <div class="span3 well pull-right">
      <b>Page Stats</b><br>
      Review Count - {{number_reviews}} <br>
      Vote Count - {{votes}}
    </div>
  </div>
<br>
      
        <div class="container" style="position:relative;top:-30px;">
        <div class="row">
          <div class="span9">

      	   <div style="display:inline;font-weight:bold;font-size:19px;"> {{review['name']}} </div> <br><br> <span class="btn btn-success" style="position:relative;top:-5px;cursor:default;">{{review['upvote']}} Up votes</span>  <span class="btn btn-warning" style="position:relative;top:-5px;cursor:default;">
           {{review['downvote']}} Down votes</span>
           <br>
           <h4> </h4>
            
            Can't find what you are looking for? Add a new page <a href="/add_new">here</a>

           </h4>
      </div>
    </div>
      <div class="row">
        <div style="display:none" id="review_words">
          {{review['data']}}
        </div>
        <div class="span9" id="word_cloud">
        </div>
        
        <div class="span3" style="position:relative;top:30px;">
          <div class="row">
            
          Rate this:<br> <span class="btn btn-success" onclick="send_rating('{{review['id']}}','up_vote')"> Up Vote</span> <span class="btn btn-warning" onclick="send_rating('{{review['id']}}','down_vote')"> Down Vote</span>
            
            <br>
            <br>
            <div id="thanks_vote" style="display:none">

            </div>
          </div>

          
          <div class="row" style="margin-top:7px;">
            
              Your review - in 25 characters or less <span id="counter" class="muted" style="display:none"></span><br>
              <input id="new_review" name="name" class="span3" type="text"  placeholder="eg. awesome" onkeyup="update(this.value)"
              onkeydown="if (event.keyCode==13) { send_review('{{review['id']}}') }">
              <br>
              <button type="button" class="btn btn-primary" onclick="send_review('{{review['id']}}')">Submit</button>
            
            <br>
            <div id="thanks_review" style="display:none">
            </div>
            
          </div>
          <br>
          <br>
          <div class="row">
            
              <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>
                      Also Explore
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for recommendation in recommendations %}
                  <tr>
                    <th>
                      <a href="/item?id={{recommendation[0]}}&name={{recommendation[1]}}">{{recommendation[2]}}</a>
                    </th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            
          </div>

          <div class="row">
            <br>
            
            <button type="button" class="btn btn-primary" id="share_fb" onclick="create_png('{{review['id']}}')">
              Share on Facebook
              
            </button>
            

          
          <div id="thanks_facebook" style="display:none;">
            </div>
          </div>
          <br><br><br>
           <div class="row">
            
              <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>
                      Recent Reviewers
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for submitter in recent_submitters %}
                  <tr>
                    <th>
                      <a href="/profile?id={{submitter[0]}}">{{submitter[1]}}</a>
                    </th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            
          </div>
            
            
          

        </div>
      

      </div>
      

    </div>

      <hr>
{% endblock %}
    

{% block javascript %}
    <script>
    function update(text)
    {
      $('#counter').css('display','');
      var count=25-text.length;
      $('#counter').html(count+' characters remaining');
    }
    $(document).ready(function() {
    $("input#search").autocomplete({
    source: '/options'
});});
    function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='/item?name='+name.value.trim();
    }

    var fill = d3.scale.category20();
    dataset=jQuery.parseJSON($(review_words).text());
    values=[]
    
    for(var key in dataset)
    {
      
      
      values.push(dataset[key]['size']);
    }
    
var words_main=[];
    
    function draw_word_cloud(id,review_words){
      var fontSize = d3.scale.linear()
                   .domain([0, d3.max(values)])
                  .range([13, 47]);
     d3.layout.cloud().size([750,450])
      .words(jQuery.parseJSON($(review_words).text()))
      .font("sans-serif")
      .fontSize(function(d) { return parseInt(fontSize(d.size)); })
      .rotate(function(d) { return 0 })//~~(Math.random() * 3) * 03 - 03; })
      .on("end", draw)
      .start();

  function draw(words) {
    words_main=words;
    d3.select(id).append("svg")
        .attr("width", 750)
        .attr("height", 450)
        .attr("id","word_reviews")
        .append("g")
        
        .attr("transform", "translate(325,215)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "sans-serif")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
    $('#word_cloud').append('<div class="fb-like" data-href="http://www.leanreviews.com/item?name={{review["name"]}}" data-send="false" data-width="450" data-show-faces="false"></div><br>');
  }
}
    var scale=d3.scale.linear()
              .domain([0,d3.max(values)])
              .range([10,400])
    draw_word_cloud("#word_cloud","#review_words");
    var chart = d3.select("#word_cloud").append("div")
    .attr("class", "chart")
    .style('font-size','17px')
    .style('font-weight','bold')
    .style('margin-bottom','17x')
    .style('margin-top','7px')
    .style('padding-top','7px')
    .text('Explore Review Frequencies')
    
    var title_function=null;
    var title_function_hash=null;

    function get_title_function()
    {
      var counter=0;
      var hash=[];
      
      function get_title(content)
      {
        key=content['text']
        
        hash[key]=counter;
        counter+=1;
        return "123"+hash[key];
      }

      function get_hash(key)
      {
        //alert(key+" "+hash[key]);
        
        
        return "123"+hash[key];
      }
      title_function=get_title;
      title_function_hash=get_hash;

    }
    get_title_function();
    
    var data=jQuery.parseJSON($('#review_words').text())
    chart.selectAll("div")
    .data(dataset)
    .enter().append("div")
    .attr('id',title_function)

    
    var count=0
    $('#'+title_function_hash(dataset[0]['text'])).attr('style','margin-top:30px');
    for(var value in dataset)
    {
      
      
      $('#'+title_function_hash(dataset[value]['text'])).append("<div class='span5' style='display:inline;font-size:10px;width:"+
        parseInt(scale(dataset[value]['size']))+"px' title='"+dataset[value]['size']+"'></div>");

      $('#'+title_function_hash(dataset[value]['text'])).append("<span style='position:relative;top:-7px;font-size:13px;font-weight:normal'>"+$('<div/>').text(dataset[value]['text']).html()+"</span><br>");
      
      
    }


    /*var data=jQuery.parseJSON($('#review_words').text())
    chart.selectAll("div")
    .data(dataset)
    .enter().append("div")
    .attr('id',function(d) {return '123'+d['text'].replace(new RegExp("\\s|\u0022|<|>|/","g"),'_');})
    
    var count=0
    $('#123'+dataset[0]['text'].replace(new RegExp("\\s|\u0022|<|>|/","g"),'_')).attr('style','margin-top:30px');
    for(var value in dataset)
    {
      

      $('#123'+dataset[value]['text'].replace(new RegExp("\\s|\u0022|<|>|/","g"),'_')).append("<div class='span5' style='display:inline;font-size:10px;width:"+
        parseInt(scale(dataset[value]['size']))+"px' title='"+dataset[value]['size']+"'></div>");

      $('#123'+dataset[value]['text'].replace(new RegExp("\\s|\u0022|<|>|/","g"),'_')).append("<span style='position:relative;top:-7px;font-size:13px;font-weight:normal'>"+$('<div/>').text(dataset[value]['text']).html()+"</span><br>");
      
      
    }*/
    function create_png(id)
    {
      if(typeof ga != 'undefined')
      {
        ga('send','event','User Interaction','Facebook Sharing',id);
      }
    var canvas = document.createElement("canvas"),
      c = canvas.getContext("2d");
  canvas.width = 600;
  canvas.height = 450;
  c.translate(600 >> 1, 450 >> 1);
  c.scale(scale, scale);
  words_main.forEach(function(word, i) {
    c.save();
    c.translate(word.x, word.y);
    c.rotate(word.rotate * Math.PI / 180);
    c.textAlign = "center";
    c.fillStyle = fill(word.text.toLowerCase());
    c.font = word.size + "px " + word.font;
    c.fillText(word.text, 0, 0);
    c.restore();
  });
  var image=canvas.toDataURL("image/png");
  //alert(image);
  var pos=image.indexOf(",");
  image=image.substr(pos+1);
  //alert(image);

        $.ajax({
  type: "POST",
  url: "/share_facebook",
  data: {id:id,image:image},
  
  success: function(data)
  {
    
    if(data.success)
    {
      var userid=$('#userid').html();
    $('#thanks_facebook').css('display','');
    $('#thanks_facebook').html('<br>Thanks for sharing<br>');  
      
    }
    else{
      
    var userid=$('#userid').html();
    $('#thanks_facebook').css('display','');
    $('#thanks_facebook').html('<br>Hey, you need to login using <a href="'+data['facebook_login']+'">Facebook</a> to be able to share.<br> ');
  }
},
  fail: function()
  {
    $('#thanks_vote').css('display','');
    $('#thanks_vote').html('Can\'t share. Login via facebook here to grant permission to share.');
    
  }
}).done(function( msg ) {
 // document.getElementById("user_tips").value="";
  //alert("Thanks for helping us improve!");
});
     
  }
    


     </script>
     <script>
     var sent_rating=false;
     var sent_review=false;
     function send_rating(id,vote)
     {
      if(sent_rating==true)
      {
        return;
      }
      sent_rating=true;
      if(typeof ga != 'undefined')
      {
        
        ga('send','event','User Interaction','Voting',id);
      }
      $.ajax({
  type: "POST",
  url: "/rate_item",
  data: {id:id,vote:vote},
  
  success: function(data)
  {
    
    if(!data.success)
    {
      
      $('#thanks_vote').css('display','');
    $('#thanks_vote').html('Thanks for your vote. You could earn a kudo by <a href="/login">logging in</a> <br><br>');
    }
    else{
    var userid=$('#userid').html();
    $('#thanks_vote').css('display','');
    $('#thanks_vote').html('Thanks for your vote. You just earned a <a href="/profile?id='+userid+'">kudo</a><br><br>');
  }
},
  fail: function()
  {
    $('#thanks_vote').css('display','');
    $('#thanks_vote').html('Can\'t submit vote. Try back later!');
    
  }
}).done(function( msg ) {
 // document.getElementById("user_tips").value="";
  //alert("Thanks for helping us improve!");
});
}

</script>
<script>
function send_review(id)
     {
      
      var review=$('#new_review').val();
      if(review==null || review.trim()=="" || review.length==0)
      {
        alert("Review cannot be empty");
        return;
      }
      if(review.length>25)
      {
        alert("Review should be word or phrase with max of 25 characters");
        return;
      }
      if(sent_review==true)
      {
        return;
      }
      sent_review=true;
      if(typeof ga != 'undefined')
      {
        ga('send','event','User Interaction','Review Submission',id);
      }
      $.ajax({
  type: "POST",
  url: "/review_item",
  data: {id:id,review:$('#new_review').val()},
  
  success: function(data)
  {
    if(!data.success)
    {
          $('#thanks_review').css('display','');
    $('#thanks_review').html('Thanks for your review. You could earn a kudo by <a href="/login">logging in</a> <br><br>');      

    }
    else{
      var userid=$('#userid').html();
    $('#thanks_review').css('display','');
    $('#thanks_review').html('Thanks for your review. You just earned a <a href="/profile?id='+userid+'">kudo</a><br><br>');
  }
  },
  fail: function()
  {
    $('#thanks_review').css('display','');
    $('#thanks_review').html('Can\'t submit review. Try back later!');
    
  }
}).done(function( msg ) {
 // document.getElementById("user_tips").value="";
  //alert("Thanks for helping us improve!");
});
}
</script>
{% endblock %}


<!--
3 model plate - 4 Pc.
3 Model box   - 4 Pc.
6A Switch - 4 Pc.-->
