{% extends "base.html" %}
{% block content %}
      <!-- Jumbotron -->
      <div class="row">
        
        <div class="span6" style="position:relative;top:15px;">
          
          <input id="search" name="name" class="span5" type="text"  onkeydown="if (event.keyCode==13) { search();}"
           placeholder="Search for a review eg. Tom Cruise" >
          <button type="button" class="btn btn-primary" onclick="search()" style="position:relative;top:-5px;"> Search</button>


      
    </div>
  </div>
<br>
      <!-- Example row of columns -->
        <div class="container">
        <div class="row">
          <div class="span10">

      	   <h4>Name: {{user['name']}} </h4>
           <h4>Reviews Submitted: {{user['reviews_submitted']}} </h4>
           <h4>Reviews Created: {{user['reviews_created']}} </h4>
           <h4>Kudos Earned: {{user['kudos']}} </h4>
      </div>
    
      </div>
      

    </div>

      <hr>
{% endblock %}

{% block javascript %}
    <script>
    $(document).ready(function() {
    $("input#search").autocomplete({
    source: items
});});
    function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='/item?name='+name.value.trim();
    }
    var fontSize = d3.scale.log().range([10, 100]);
    var fill = d3.scale.category20();
    function draw_word_cloud(id,review_words){
     d3.layout.cloud().size([600,450])
      .words(jQuery.parseJSON($(review_words).html()))
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .rotate(function(d) { return ~~(Math.random() * 5) * 30 - 60; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select(id).append("svg")
        .attr("width", 600)
        .attr("height", 450)
      .append("g")
        .attr("transform", "translate(300,225)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
}
draw_word_cloud("#word_cloud","#review_words");

     </script>
{% endblock %}


