{% extends "base.html" %}

{% block content %}
      <!-- Jumbotron -->
      <div class="row">
        
        <div class="span6" style="position:relative;top:15px;">
          
          <input id="search" name="name" class="span5" type="text" onkeydown="if (event.keyCode==13) { search();}"
           placeholder="Search for a review eg. Tom Cruise" >
          <span class="btn btn-primary" onclick="search()" style="position:relative;top:-5px;"> Search</span>


      
    </div>
  </div>
  <br>
  <div id="message">{{message}}</div>
  <br>
      <div class="row">
        <div class="span12">
          <form id="form" class="form-horizontal well" method="post">
                        <fieldset>
              <legend>Analytics</legend>
              
              <div class="control-group">
                
                  <label class="control-label" for="review">Review</label>
                  <div class="controls">
                  <textarea type="text" id="words" name="words" style="width:700px;height:400px;"></textarea>
                  
                </div>
              </div>
              <div class="form-actions">
                <input type="button" class="btn btn-primary" value="Submit" onclick="send_words()"></input>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="span12" id="word_analytics">
        </div>
      </div>

      <hr>
{% endblock %}
{% block javascript %}
    <script>
    function checkMaxLength(word,len)
    {
      if(word!=null)
      {
         return word.length<=len;
      }
      else
      {
        return true;
      }
    }
    function send_words()
    {
      var words=$('#words').val();
      $.ajax({
  type: "POST",
  url: "review_analytics",
  data: {words:words},
  
  success: function(data)
  {
    
    if(!data.success)
    {
      
      
    }
    else{
      var content=data['words'];
      draw_word_cloud(content);
  }
},
  fail: function()
  {
    $('#thanks_vote').css('display','');
    $('#thanks_vote').html('Can\'t submit vote. Try back later!');
    
  }
}).done(function( msg ) {
 // document.getElementById("user_tips").value="";
  //alert("Thanks for helping us improve!");
});
    }


    $(document).ready(function() {
    $("input#search").autocomplete({
    source: items});
    

    $('#form').submit(function(){

      
      
      send_words(words);
     /* if(!checkMaxLength(name,40))
      {
        alert('Name cannot be more than 40 characters');
        return false;
      }
      if(name==null || review==null || name.trim()=="" || review.trim()=="")
      {
        alert('Name and review cannot be empty');
        return false;
      }
      if(!checkMaxLength(description,100))
      {
        alert('Description cannot be more than 100 characters. Consider being more concise.');
        return false;
      }
      if(!checkMaxLength(category,30))
      {
        alert('Category cannot be more than 30 characters');
        return false; 
      }
      if(!checkMaxLength(review,25))
      {
        alert('Review cannot be more than 25 characters');
        return false;
      }*/

    });
  });
    function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='/item?name='+name.value.trim();
    }
    var fontSize = d3.scale.linear()
                  .domain([0,90])
                  .range([10, 45]);
    var fill = d3.scale.category20();
    function draw_word_cloud(words){
      $('#word_analytics').html("");
     d3.layout.cloud().size([900, 700])
      .words(words)
      .font("sans-serif")
      .fontSize(function(d) { return d.size; })
      .rotate(function(d) { return ~~(Math.random() * 5) * 07 - 05; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select("#word_analytics").append("svg")
        .attr("width", 900)
        .attr("height", 700)
      .append("g")
        .attr("transform", "translate(450,350)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "sans-serif")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
}


     </script>

{% endblock %}


<!--
3 model plate - 4 Pc.
3 Model box   - 4 Pc.
6A Switch - 4 Pc.-->
