{% extends "base.html" %}

{% block content %}
      <!-- Jumbotron -->
      <div class="row">
        
        <div class="span6" style="position:relative;top:15px;">
          
          <input id="search" name="name" class="span5" type="text"  onkeydown="if (event.keyCode==13) { search();}"
           placeholder="Search for a review eg. Tom Cruise" >
          <button type="button" class="btn btn-primary" onclick="search()" style="position:relative;top:-5px;"> Search</button>


      
    </div>
  </div>
  <br>

      <!-- Example row of columns -->
        <div class="container">
        <div class="row">
          <div class="span7">

      	   <h3> Login using <a href="{{google_login}}">Google</a> or <a href="{{facebook_login}}">Facebook</a></h3>
           <hr>
           <div class="row">
            <div class="span6">
              <div>{{signup_error}}</div>
           <form id="form" class="form-horizontal well" action="/signup" method="post">
            <fieldset>
              <legend>Create a new account here</legend>
              <div class="control-group">
                
                  <label class="control-label" for="email">Email Id </label>
                  <div class="controls">
                  <input type="text" id="email"  name="email" placeholder="{{email}}" value="{{email}}">
                  </div>
              </div>
              <div class="control-group">
                
                  <label class="control-label" for="username" >Name</label>
                  <div class="controls">
                  <input type="text" id="username" name="username" placeholder="{{username}}" value="{{username}}">
                  
                </div>
              </div>
              <div class="control-group">
                
                  <label class="control-label" for="password">Password</label>
                  <div class="controls">
                  <input type="password" id="password" name="password">
                  <p class="help-block">Should be atleast 5 characters</p>
                </div>
              </div>
              <div class="control-group">
                
                  <label class="control-label" for="confirm_password">Confirm Password</label>
                  <div class="controls">
                  <input type="password" id="confirm_password" name="confirm_password">
                  
                </div>
              </div>
              <div class="form-actions">
                <input type="submit" class="btn btn-primary"></input>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
        <div class="span5" style="position:relative;top:95px;">
          <div>{{error}}</div>
          <form class="well form-search" action="/login" method="post" id="login">
            <fieldset>
              <legend>Already a member? Login below</legend>
              
                               
                  
                  <input type="text" id="name" name="username" placeholder="Email/Username">
                   
                  <br>
                  <br>
                
                  
                  
                  <input type="password" id="login_password" name="password" placeholder="Password" onkeydown="if (event.keyCode==19) { document.getElementById('login_submit').focus();}">
                  <br>
                  <br>
                  <button id="login_submit" type="submit" class="btn btn-primary" style="margin-bottom:0px;">Submit</button>
                  
                
              
            </fieldset>
          </form>
        </div>
      
      </div>
    
      </div>
      

      <hr>
      {% endblock %}

{% block javascript %}
    <script>
    $(document).ready(function() {
    $("input#search").autocomplete({
    source: items
});
    $('#form').submit(function(){
      var username=$('#username').val();
      var email=$('#email').val()
      var password=$('#password').val();
      var confirm_password=$('#confirm_password').val();
      if(email==null || email.trim()=="" || password==null || password.trim()=="" || username==null || username.trim()=="")
      {
        alert("Email and password cannot be empty");
        return false;

      }
      if(password!=confirm_password)
      {
        alert("Passwords do not match");
        return false;
      }
      if(password.length<5)
      {
        alert("Password should be atleast 5 characters");
        return false;
      }


    });
    $('#login').submit(function(){
      var name=$('#name').val();
  var password=$('#login_password').val();
  if(name==null || name.trim()=="" || password==null || password.trim()=="")
  {
    alert("Email/Username/Password cannot be empty");
    return false;
  }
    });
  });
    function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='/item?name='+name.value.trim();
    }
    var fontSize = d3.scale.log().range([10, 100]);
    var fill = d3.scale.category20();
    function draw_word_cloud(id,review_words){
     d3.layout.cloud().size([600,450])
      .words(jQuery.parseJSON($(review_words).html()))
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .rotate(function(d) { return ~~(Math.random() * 5) * 30 - 60; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select(id).append("svg")
        .attr("width", 600)
        .attr("height", 450)
      .append("g")
        .attr("transform", "translate(300,225)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
}
draw_word_cloud("#word_cloud","#review_words");


function login()
{
  
  var name=$('#name').val();
  var password=$('#login_password').val();
  if(name==null || name.trim()=="" || password==null || password.trim()=="")
  {
    alert("Email/Username/Password cannot be empty");
    return;
  }
  $('#login').submit();
}
     </script>
{% endblock %}

